*
{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* main block for */
#main
{
    display: block;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 10px;
    padding: 10px;
}

#main-large
{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 10px;
    padding: 10px;
}

/* #content and header are one unit for two sided pages */
#content
{
    display: inline-block;
    width: 80%;
    max-width: 350px;
    margin: 15px;
}

#photo_content
{
    display: inline-block;
    justify-content: center;
    width: 80%;
    max-width: 750px; /* thumbnail size + padding x2 */
    margin: 15px;
}

#blog_background
{
    position: sticky;
}

.centered
{
    text-align: center;
}

.mono
{
    font-family: monospace;
}

.card
{
    border: 1px solid rgb(212, 207, 201);
    display: inline-block;
    font-family: monospace;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 5px 10px #999;
    margin: 0px 0px 15px 15px;
    max-width: 200px;
}

header
{
    display: block;
    float: left;
    width: 80%;
    max-width: 200px;
    margin: 15px;
}

body
{
    display: flex;
    width: 100%;
    background-color: #fefefe;
    color: black;
    justify-content: center;
}

img
{
    max-width: 100%;
    margin-bottom: 10px;
}

h2
{
    font-size: medium;
}

h3, p, a, li
{
    font-size: small;
}

h1, h2, p
{
    margin-bottom: 15px;
}

ul, li
{
    margin-left: 15px;
}

a
{
    color: #3f9999;
}